<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-migrate-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.14.1/jquery-ui.min.js" crossorigin="anonymous"></script>

<!-- Bootstrap JS -->
<script type="text/javascript" src="/libs/bootstrap-5.3.8-dist/js/bootstrap.bundle.min.js"></script>

<script type="text/javascript" src="/libs/bootstrap-5.3.8-dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
  integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>

<!-- SweetAlert2 CDN -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- Custom JS -->
<script src="/js/apps-main.js?v=<%= locals.timestamp || Date.now() %>"></script>
<script src="/js/apps-external.js?v=<%= locals.timestamp || Date.now() %>"></script>
<script src="/js/apps-auth.js?v=<%= locals.timestamp || Date.now() %>"></script>

<% if (locals.additionalJS) { %>
  <% additionalJS.forEach(js=> {
    let hasQuery = js.includes("?");
    let hasVersion = js.includes("v=");
    let finalSrc = js;
    if (!hasVersion) {
    finalSrc += (hasQuery ? "&" : "?") + "v=" + Date.now();
    }
    %>
    <script src="<%= finalSrc %>"></script>
    <% }) %>
      <% } %>
        </body> <!-- End of body -->

        </html>
