</div> <!-- End of app-container -->

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-migrate-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.14.1/jquery-ui.min.js" crossorigin="anonymous"></script>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

<!-- Custom JS -->
<script src="/js/main.js?v=<%= locals.timestamp || Date.now() %>"></script>

<% if (locals.additionalJS) { %>
  <% additionalJS.forEach(js=> {
    let hasQuery = js.includes("?");
    let hasVersion = js.includes("v=");
    let finalSrc = js;
    if (!hasVersion) {
    finalSrc += (hasQuery ? "&" : "?") + "v=" + Date.now();
    }
    %>
    <script src="<%= finalSrc %>"></script>
    <% }) %>
      <% } %>
        </body> <!-- End of body -->

        </html>
