<!DOCTYPE html>
<html lang="vi">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> - FinTrack</title>
    <link rel="stylesheet" href="/css/style.css">
    <% if (locals.additionalCSS) { %>
      <% additionalCSS.forEach(css => { %>
        <link rel="stylesheet" href="<%= css %>">
      <% }) %>
    <% } %>
  </head>

  <body>
