<%- include('../partials/header', { title: 'Money Keeper' , additionalCSS: [''] , currentPage: currentPage, pageTitle: 'Money Keeper Detail'
  , pageDescription: '' }) %>

  <div>inner detail</div>

  <%- include('../partials/footer', { additionalJS: [ '/js/money-keeper-detail.js' ] }) %>
