<%- include('../partials/header', { title: 'Money Keeper' , additionalCSS: [''] , currentPage: currentPage, pageTitle: 'Money Keeper' ,
  pageDescription: '' }) %>

  <div>inner</div>

  <%- include('../partials/footer', { additionalJS: [ '/js/money-keeper.js' ] }) %>
