<%- include('../partials/header', { title: 'Money Keeper' , pageTitle: 'Money Keeper' , additionalCSS: [''] }) %>

  <div>inner</div>

  <%- include('../partials/footer', { additionalJS: [ '/js/money-keeper-setting.js' ] }) %>
