<%- include('../../partials/header', { title: title || locals.title || 'title' , timestamp: Date.now(), additionalCSS: additionalCSS }) %>

  <!-- Start of app container -->
  <div class="app-container">
    <%- include('../../apps/partials/sidebar', { currentPage: currentPage }) %>

      <!-- Start of main content -->
      <main class="main-content">

        <!-- Start of top bar -->
        <header class="top-bar">
          <h1>
            <%= pageTitle || locals.pageTitle || 'pageTitle' %>

              <% if (pageDescription !='' && pageDescription !=null) { %>
                <small>
                  <%= pageDescription || locals.pageDescription || '' %>
                </small>
                <% } %>
          </h1>

          <div class="user-info">
            <span id="user-name">User</span>
            <button class="btn-logout">Đăng xuất</button>
          </div>
        </header>
        <!-- End of top bar -->

        <!-- Start of content -->
        <div class="content">
          <!-- Inner content -->
